<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>پنل مدیریتی آوان</title>

    <link rel="stylesheet" href="/Content/AdminPanel/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Content/AdminPanel/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Content/AdminPanel/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/Content/AdminPanel/css/style.css">
    <link rel="stylesheet" href="/Content/AdminPanel/css/new-version.css">
    <link rel="shortcut icon" href="/Content/AdminPanel/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="index.html"><img src="/Content/AdminPanel/images/logo.svg" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/Content/AdminPanel/images/logo-mini.svg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <li class="nav-item nav-search d-none d-lg-block w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="عبارت مورد نظر را تایپ کنید" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown mr-1">
                        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-message-text mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">پیام ها</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="/Content/AdminPanel/images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        محمد علاوی
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        با من تماس بگیرید
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="/Content/AdminPanel/images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        محمد علاوی
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        با من تماس بگیرید
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="/Content/AdminPanel/images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        محمد علاوی
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        با من تماس بگیرید
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">هشدارها</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-success">
                                        <i class="mdi mdi-information mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        با من تماس بگیرید
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-warning">
                                        <i class="mdi mdi-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        با من تماس بگیرید
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-info">
                                        <i class="mdi mdi-account-box mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        با من تماس بگیرید
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="/Content/AdminPanel/images/faces/face5.jpg" alt="profile" />
                            <span class="nav-profile-name">محمد علاوی</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="mdi mdi-settings text-primary"></i>
                                تنظیمات
                            </a>
                            <a class="dropdown-item">
                                <i class="mdi mdi-logout text-primary"></i>
                                خروج
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                @Html.Action("ShowMenu", "Dashboard")
            </nav>
            <!-- partial -->
            <div class="main-panel">
                @RenderBody()
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">تمامی حقوق مادی و معنوی این وبسایت متعلق به شرکت آوان سیستم میباشد </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <script src="/Content/AdminPanel/vendors/base/vendor.bundle.base.js"></script>
    <script src="/Content/AdminPanel/vendors/chart.js/Chart.min.js"></script>
    <script src="/Content/AdminPanel/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="/Content/AdminPanel/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="/Content/AdminPanel/js/off-canvas.js"></script>
    <script src="/Content/AdminPanel/js/hoverable-collapse.js"></script>
    <script src="/Content/AdminPanel/js/template.js"></script>
    <script src="/Content/AdminPanel/js/dashboard.js"></script>
    <script src="/Content/AdminPanel/js/data-table.js"></script>
    <script src="/Content/AdminPanel/js/jquery.dataTables.js"></script>
    <script src="/Content/AdminPanel/js/dataTables.bootstrap4.js"></script>
    <script src="~/Content/AdminPanel/js/panel-script.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("script", false)
</body>
</html>

