

@{
    ViewBag.Title = "دسته بندی محصولات";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <div class="row">
        <div class="col-8" id="div-list-category">
            @Html.Action("ListCategory")
        </div>
        <div class="col-4" id="div-action-category">
            @Html.Action("AddCategory")
        </div>
    </div>
</div>