
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Dashboard/Index">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title">داشبورد</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic5">
            <i class="mdi mdi-account menu-icon"></i>
            <span class="menu-title">اطلاعات پایه</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic5">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/Admin/BaseDate/AccessLevel">سطح دسترسی ها</a></li>
                <li class="nav-item"> <a class="nav-link" href="/Admin/BaseData">وضعیت واحدها</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="mdi mdi-account menu-icon"></i>
            <span class="menu-title">کاربران</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/Admin/User">لیست کاربران</a></li>
                <li class="nav-item"> <a class="nav-link" href="/Admin/User">افزودن کاربر</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
            <i class="mdi mdi-shopping menu-icon"></i>
            <span class="menu-title">محصولات</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic1">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/Admin/Product/Category">دسته بندی محصولات</a></li>
                <li class="nav-item"> <a class="nav-link" href="/Admin/Product">لیست محصولات</a></li>
                <li class="nav-item"> <a class="nav-link" href="/Admin/Product">افزودن محصول</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic4">
            <i class="mdi mdi-shopping menu-icon"></i>
            <span class="menu-title">تراکت ها</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic4">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/Admin/Trakt/Category">دسته بندی تراکت ها</a></li>
                <li class="nav-item"> <a class="nav-link" href="/Admin/Trakt">لیست تراکت ها</a></li>
                <li class="nav-item"> <a class="nav-link" href="/Admin/Trakt">افزودن تراکت</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
            <i class="mdi mdi-book-open menu-icon"></i>
            <span class="menu-title">مقاله ها</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic2">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">دسته بندی مقالات</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">لیست مقالات</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">افزودن مقاله</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic3">
            <i class="mdi mdi-settings menu-icon"></i>
            <span class="menu-title">تنظیمات سایت</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic3">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">تنظیمات عمومی</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">تنظیمات تخصصی</a></li>
            </ul>
        </div>
    </li>
</ul>

